body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url('../imagens/64a18796916c91db8679091309aa6b8b\ \(1\).jpg');
    background-size: cover;
    margin: 0px;
}

.navbar__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0px 16px 15px -11px #000000;
    background-color: rgba(33, 33, 33, 0.98);
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifs;
}

.navbar__cadastro {
    margin-left: auto;
}


li {
    float: left;
}

li a {
    display: block;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: large;
    text-align: center;
    font-weight: 700;
}

li a:hover {
    color: #cacacab9;
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #4242414f;
    margin-top: 20px;
    border-radius: 10px;
}

.pesquisa {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.pesquisa__titulo {
    text-align: left;
    padding-left: 40px;
}

.pesquisa__input {

    align-self: center;
}

.pesquisa__input input {
    border-radius: 10px;
    width: 300px;
    height: 40px;
    font-size: 14px;
}

.pesquisa__input i {
    color: white;
    font-size: x-large;
}

.input-icon {
    position: relative;
    color: black;
    right: 0;
    top: 22px;
    left: calc(100% - 30px)
}

.filme {
    display: flex;
    flex-direction: column;
    width: 200px;
}


.filme:hover {
    color: #b3b1af;
    cursor: pointer;
}

.filme__imagem {
    width: 200px;
    height: 300px;
}

.filme__titulo {
    margin-top: 3px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.filme__classificacao {
    text-align: center;
}

.filmes {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.footer {
    display: flex;
    background-color: black;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0px;
    text-align: center;
    color: white;
    font-size: large;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.centro {
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.link:hover {
    cursor: pointer;
    color: #b3b1af;
}

.input {
    margin-bottom: 24px;
}

.input input {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b3b1af;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input input:focus {
    outline: none;

}

.input label {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    display: block;
}

.input .input-erro {
    color: #ec6161;
    font-weight: bold;
    font-size: 12px;
}

.input .input-erro p {
    margin-top: -5px;
    margin-bottom: -10px;
}

.submit {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b3b1af;
    font-size: 14px;
    background-color: #a19d9b;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit:hover {
    cursor: pointer;
    background-color: #b3b1af;
}

.button {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #b3b1af;
    font-size: 14px;
    background-color: #a19d9b;
    color: white;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
    background-color: #b3b1af;
}

@media (max-width: 714px) {
    li a {
        padding: 10px;
    }

    .filme {
        width: 100px;
    }

    .filme__imagem {
        width: 100px;
        height: 150px;
    }

    .pesquisa__input input {
        width: 150px;
        height: 30px;
    }
}